
@font-face {
    font-family: 'xoloniumregular';
    src: url('/content/fonts/xolonium-regular-webfont.eot');
    src: url('/content/fonts/xolonium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/content/fonts/xolonium-regular-webfont.woff2') format('woff2'),
         url('/content/fonts/xolonium-regular-webfont.woff') format('woff'),
         url('/content/fonts/xolonium-regular-webfont.ttf') format('truetype'),
         url('/content/fonts/xolonium-regular-webfont.svg#xoloniumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}